.navbar {
  position: fixed; /* Fijo en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Ejemplo de color de fondo */
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navbar-logo img {
  height: 40px; /* Ajusta el tamaño del logo */
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}
